body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
  font-family: Palatino, 'Palatino Linotype', serif;
  color: #51468c;
	font-size: 32px;
}

h2 {
	font-size: 56px;
}


.about, .xp, .top{
  color: #ffffff;
  background-image:   url("http://orig02.deviantart.net/653d/f/2015/155/7/0/shahils_texture_2_by_shahils-d8vz8cb.jpg");
  background-size: cover;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 250px 0;
  margin: 30px;
}

.img-circle{
  background-size: 150px;
  border-radius: 50%;
}

.ed, .goals{
 color: #ffffff;
  background-image:   url("http://orig03.deviantart.net/960e/f/2008/278/d/9/texture_101_by_wanderingsoul_stox.jpg");
  background-size: cover;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 250px 0;
  margin: 30px;
}

ul {
  font-size: 2rem;
  list-style-type: none;
}

ol {
  list-style: decimal inside none;
  font-size: 2rem;
}

p {
font-size: 2rem;
}


#footer {
font-size: 0.75rem;
}


/* color scheme: #ff5177, #817091, #817091,
background-image: url("http://orig02.deviantart.net/653d/f/2015/155/7/0/shahils_texture_2_by_shahils-d8vz8cb.jpg");
} */
