body {
background-color: #c5cae9;
}

h1 {
  background-color: #ff5177;
  border: 5px solid white;
  font-family: serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

p{
  font-weight: bold;
}

ul.a{
font-weight: bold;
}


h2 {
  background-color: #a8cce8;
  border: 5px solid white;
  font-family: serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

ul.b{
  font-weight: bold;
}

h3{
  background-color: #d1b2ea;
  border: 5px solid white;
  font-family: serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

ul.c{
  font-weight: bold;
}

h4{
  background-color: #ffbdea;
  border: 5px solid white;
  font-family: serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

h5{
  background-color: #a4e7df;
  border: 5px solid white;
  font-family: serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

ol{
  font-weight: bold;
}

/* color scheme: #ff5177, #817091, #817091,
